<div class="flex flex-col items-center bg-gray-100/50 py-24 justify-center text-center">
    <img src="assets/Macbook-Air/apple-lock.png" alt="" class="mb-4 w-24 h-24 object-contain">

    <h2 class="text-5xl font-bold pb-8 text-black">
        Great powers come <br>
        with great <span
            class="bg-gradient-to-r from-blue-500 via-purple-500 to-orange-500 font-bold bg-clip-text text-transparent">privacy.</span>
    </h2>

    <div class="flex flex-row justify-center mt-4 gap-8 max-w-4xl">
        <p class="text-gray-600 font-semibold text-start text-lg">Apple Intelligence is designed to protect your privacy at every step. It’s integrated into the core of your Mac through on-device processing. So it’s aware of your personal information without collecting your personal information.</p>
        <p class="text-gray-600 font-semibold text-start text-lg">And with groundbreaking Private Cloud Compute, Apple Intelligence can draw on larger server-based models, running on Apple silicon, to handle more complex requests for you while protecting your privacy.</p>
    </div>
</div>