<div class="max-w-[1200px] mt-16 mx-auto px-6 lg:px-16">
    <h2 class="font-semibold text-2xl">DISPLAY</h2>
    <p class="text-6xl pb-8 font-bold mb-4 bg-gradient-to-r from-[#052944] via-[#315B7B] to-[#5281A5] bg-clip-text text-transparent">
        Love at every sight.
    </p>
</div>

<div class="flex mt-8 bg-[#FCFBFB] justify-center">
    <img src="assets/Macbook-Air/macbook-air-display.jpg" alt="" class="max-w-full h-auto">
</div>

<div class="max-w-[1100px] mt-16 mx-auto px-6 lg:px-16">
    <p class="text-gray-500 text-xl">The <span class="text-black font-semibold">Liquid Retina display</span> on MacBook Air supports <span class="text-black font-semibold"> 1 billion colors</span> and has up to <span class="text-black font-semibold">2x the resolution</span> of comparable PC laptops. Photos and videos pop with rich contrast and sharp detail, and text appears supercrisp.</p>
</div>