<div class="max-w-[1200px] mt-16 mx-auto px-6 lg:px-16">
    <h2 class="font-semibold text-2xl">SECURITY</h2>
    <p class="text-6xl pb-8 font-bold mb-4 bg-gradient-to-r from-[#052944] via-[#315B7B] to-[#5281A5] bg-clip-text text-transparent">
        Hold down the fort <br>
        with just a finger
    </p>
</div>

<div class="flex mt-8 justify-center max-w-5xl mx-auto">
    <img src="assets/Macbook-Air/macbook-air-security.png" alt="" class="max-w-full h-auto">
</div>

<div class="max-w-[1100px] mt-16 mx-auto px-6 lg:px-16">
    <p class="text-gray-500 text-xl">The backlit Magic Keyboard comes with full-height function keys and <span class="text-black font-semibold">Touch ID, giving you a fast, easy, and secure</span> way to unlock your Mac, sign in to accounts, and authorize payments for purchases — all at the touch of your finger.<span class="text-black font-semibold"></span></p>
</div>