<section class="text-gray-600 mb-12 bg-purple-800/60 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
            <h1 class="flex-grow sm:pr-16 text-2xl font-semibold title-font text-white">Have questions or need help
                choosing the right MacBook? Our team is here to assist you</h1>
            <button
                routerLink="/contact"
                class="flex-shrink-0 text-white bg-purple-800 cursor-pointer border-0 py-2 px-8 focus:outline-none hover:bg-purple-900 rounded rounded-xl text-lg mt-10 sm:mt-0">Contact
                Us</button>
        </div>
    </div>
</section>