<app-fp-macbook-air-hero />

<div class="max-w-[1000px] mt-8 mx-auto px-6 lg:px-16">
    <h2 class="font-semibold text-2xl">DESIGN</h2>
    <p class="text-6xl pb-8 font-bold mb-4 bg-gradient-to-r from-[#052944] via-[#315B7B] to-[#5281A5] bg-clip-text text-transparent">
      Built to go places.
    </p>
</div>

<img src="assets/Macbook-Air/macbook-air-2.jpg" alt="">

<div class="max-w-[1000px] mt-8 mx-auto px-6 lg:px-16">
    <p class="text-gray-500 text-xl text-semibold"><b>Remarkably light and less than half an inch thin,</b> MacBook Air fits easily into your on-the-go lifestyle — and your bag. MacBook Air with M4 is made with over 50 percent recycled materials and has a durable recycled aluminum enclosure.</p>
</div>

<div class="relative max-w-[1100px] mx-auto px-6 mt-8 lg:px-16">
    <img src="assets/Macbook-Air/macbook-air-side.jpg" alt="" class="w-full" />
    
    <!-- Overlay Container -->
    <div class="absolute inset-0 flex items-center justify-center gap-20 px-6">
        <!-- Left Text -->
        <div class="text-white max-w-[250px] text-left">
            <div class="flex flex-col items-center justify-center text-center h-full">
            <h2 class="text-5xl text-black font-bold mb-2">13"</h2>
            <p class="text-4xl text-black font-bold">display</p>
          </div>          
      </div>
      
      <!-- Right Text -->
      <div class="text-white max-w-[250px] text-right">
        <div class="flex flex-col items-center justify-center text-center h-full">
            <h2 class="text-5xl text-black font-bold mb-2">16"</h2>
            <p class="text-4xl text-black font-bold">display</p>
          </div>
      </div>
    </div>
</div>

<div class="max-w-[1000px] mt-8 mx-auto px-6 lg:px-16">
    <p class="text-gray-500 text-xl text-semibold"><b>Two perfectly portable sizes.</b> The 13‑inch MacBook Air is the ultimate on-the-go laptop, and the 15‑inch model gives you even more space onscreen for multitasking.</p>
</div>


<div class="max-w-[1100px] mt-8 mx-auto px-6 lg:px-16">
    <img src="assets/Macbook-Air/macbook-air-three-in-one.png" alt="">
</div>  

<div class="max-w-[1000px] mt-8 mx-auto px-6 lg:px-16">
    <p class="text-gray-500 text-xl text-semibold"><b>A new color is in the air. </b>Now with Sky Blue, four beautiful colors will have you on cloud nine. And every MacBook Air comes with a color-matched MagSafe charging cable. </p>
</div>

<div class="max-w-[1200px] mt-16 mx-auto px-6 lg:px-16">
    <h2 class="font-semibold text-2xl">PERFORMANCE AND BATTERY LIFE</h2>
    <p class="text-6xl pb-8 font-bold mb-4 bg-gradient-to-r from-[#052944] via-[#315B7B] to-[#5281A5] bg-clip-text text-transparent">
        M4. The chip that zips.
    </p>
</div>

<div class="mt-8">
    <img src="assets/Macbook-Air/macbook-air-aura.jpg" alt="">
</div>

<div class="mt-16 max-w-[800px] mx-auto">
    <img src="assets/Macbook-Air/macbook-air-specs.png" alt="">
</div>

<div class="mt-8 max-w-[1100px] mx-auto">
    <p class="text-gray-500 text-2xl"><b class="text-black">Multitasker. Multifaster.</b> MacBook Air with M4 brings even more speed and fluidity to everything you do, like working between loads of apps and tabs, editing videos, or playing games like Sid Meier’s Civilization® VII. All with a silent, fanless design.</p>
</div>

<div class="mt-8 max-w-[1100px] mx-auto">
    <p class="text-gray-500 text-2xl"><b class="text-black">Neural Engine. Blazing fast for AI. </b>Thanks to the faster Neural Engine in the M4 chip, MacBook Air has even more powerful AI capabilities to enhance everything you do. From automatic camera frame centering to AI image upscaling to running the latest large language models, you’ll be more productive and creative than ever.</p>
</div>

<div class="mt-8 max-w-[1100px] mx-auto">
    <p class="text-gray-500 text-2xl"><b class="text-black">Live a full battery life. </b>MacBook Air has up to 18 hours of battery life. And it supports fast charge, getting up to 50 percent in around 30 minutes.6 So you can power through anything you’re working on without worrying about your battery.</p>
    <button class="py-4 px-6 font-semibold rounded-full mt-6 border border-2 border-black cursor-pointer hover:bg-black hover:text-white duration-300">Go Inside M4</button>
</div>

<div class="relative w-full h-1 mt-16 overflow-hidden">
    <!-- Horizontal rainbow gradient -->
    <div class="absolute inset-0 bg-gradient-to-r from-red-300 via-purple-500 via-pink-500 to-orange-500"></div>

    <!-- Vertical fade: top solid → bottom transparent -->
    <div class="absolute inset-0 bg-gradient-to-b from-white/0 to-white opacity-60"></div>
</div>

<app-fp-macbook-air-apple-intelligence />