<div class="max-w-[1200px] mt-16 mx-auto px-6 lg:px-16">
    <h2 class="font-semibold text-2xl">PERFORMANCE AND BATTERY LIFE</h2>
    <p class="text-6xl pb-8 font-bold mb-4 bg-gradient-to-r from-[#052944] via-[#315B7B] to-[#5281A5] bg-clip-text text-transparent">
        M4. The chip that zips.
    </p>
</div>

<div class="mt-8">
    <img src="assets/Macbook-Air/macbook-air-aura.jpg" alt="">
</div>

<div class="mt-16 max-w-[800px] mx-auto">
    <img src="assets/Macbook-Air/macbook-air-specs.png" alt="">
</div>

<div class="mt-8 max-w-[1100px] mx-auto">
    <p class="text-gray-500 text-2xl"><b class="text-black">Multitasker. Multifaster.</b> MacBook Air with M4 brings even more speed and fluidity to everything you do, like working between loads of apps and tabs, editing videos, or playing games like Sid Meier’s Civilization® VII. All with a silent, fanless design.</p>
</div>

<div class="mt-8 max-w-[1100px] mx-auto">
    <p class="text-gray-500 text-2xl"><b class="text-black">Neural Engine. Blazing fast for AI. </b>Thanks to the faster Neural Engine in the M4 chip, MacBook Air has even more powerful AI capabilities to enhance everything you do. From automatic camera frame centering to AI image upscaling to running the latest large language models, you’ll be more productive and creative than ever.</p>
</div>

<div class="mt-8 max-w-[1100px] mx-auto">
    <p class="text-gray-500 text-2xl"><b class="text-black">Live a full battery life. </b>MacBook Air has up to 18 hours of battery life. And it supports fast charge, getting up to 50 percent in around 30 minutes.6 So you can power through anything you’re working on without worrying about your battery.</p>
    <button class="py-4 px-6 font-semibold rounded-full mt-6 border border-2 border-black cursor-pointer hover:bg-black hover:text-white duration-300">Go Inside M4</button>
</div>

<div class="relative w-full h-1 mt-16 overflow-hidden">
    <!-- Horizontal rainbow gradient -->
    <div class="absolute inset-0 bg-gradient-to-r from-red-300 via-purple-500 via-pink-500 to-orange-500"></div>

    <!-- Vertical fade: top solid → bottom transparent -->
    <div class="absolute inset-0 bg-gradient-to-b from-white/0 to-white opacity-60"></div>
</div>