<div class="mt-24">
    <h2 class="font-semibold text-center pb-8 text-6xl">There’s never been a better <br> time to upgrade.</h2>
    <p class="text-gray-500 text-center text-2xl">Here’s what you get with the new MacBook Air with M4.</p>

    <div class="flex mt-8 justify-center max-w-5xl mx-auto">
        <img src="assets/Macbook-Air/macbook-air-upgrade.png" alt="">
    </div>

    <div class="flex justify-center mt-16">
        <button class="py-2 px-6 border border-2 rounded-full hover:text-white hover:bg-black duration-300 cursor-pointer">Shop Now</button>
    </div>
</div>