<section class="bg-gradient-to-b from-[#D7EBF6] to-[#EEF4F8] py-16 px-4 text-center">
    <div class="max-w-3xl mx-auto">
      <h2 class="text-4xl font-semibold text-gray-800 mb-4">Macbook Air</h2>
      <p class="text-5xl font-bold lg py-4 mb-8 bg-gradient-to-r from-[#052944] to-[#5281A5] bg-clip-text text-transparent">
        Speed of lightness. 
      </p>
      <img
        src="assets/Macbook-Air/macbook-air-main.png"
        alt="Sample Product"
        class="mx-auto mt-6 mb-8"
      />

      <p class="text-3xl font-semibold py-4 mb-8 bg-gradient-to-r from-blue-500 via-[#F34166] to-[#F4510E] bg-clip-text text-transparent">
        Built for Apple Intelligence.
      </p>      

      <button
        class="bg-blue-600/80 cursor-pointer text-white px-6 py-2 rounded-full hover:bg-blue-700 transition duration-300"
      >
        Buy
      </button>

      <p class="font-semibold mb-8 mt-8">From $999 or $83.25/mo. for 12 mo.**</p>

      <p class="text-2xl font-semibold text-gray-500">MacBook Air is the world’s most popular laptop for a reason. Actually, for a lot of reasons. <b class="text-black font-bold">It delivers up to 18 hours of battery life.</b> The <b class="text-black font-bold">M4 chip</b> unlocks a whole new level of performance for work and play.<b class="text-black font-bold">Apple Intelligence</b> is built in to help you get things done effortlessly.2 And it now comes in a stunning Sky Blue color. With the perfectly portable MacBook Air, you’ll be ready to take on just about anything, anywhere.</p>
    </div>
  </section>
  