<!-- <h2>Apple Intelligence.</h2> -->
<h2 class="w-fit mx-auto text-6xl text-center mt-8 pb-4 font-bold
    bg-gradient-to-r 
    from-blue-500 
    via-purple-500 
    via-pink-500 
    via-red-500 
    via-orange-400 
    via-green-400 
    to-blue-500 
    bg-clip-text text-transparent">
    Apple Intelligence
</h2>

<h2 class="font-bold text-6xl text-center"> Do more. Effort less.</h2>

<div class="max-w-[900px] text-center px-8 mt-8 mx-auto">
    <p class="text-xl text-gray-500 mb-8 font-bold text-center">
        Apple Intelligence is the personal intelligence system that helps you write, express yourself, and get things done effortlessly. With groundbreaking privacy protections, it gives you peace of mind that no one else can access your data — not even Apple.
    </p>
    <a class="mt-8 text-xl text-blue-500" href="/">Learn More about Apple Intelligence</a>
</div>
