<div class="max-w-[1200px] mt-16 mx-auto px-6 lg:px-16">
    <h2 class="font-semibold text-2xl">MACOS</h2>
    <p class="text-6xl pb-8 font-bold mb-4 bg-gradient-to-r from-[#052944] via-[#315B7B] to-[#5281A5] bg-clip-text text-transparent">
        Let your apps fly.
    </p>
</div>

<div class="flex mt-8 justify-center">
    <img src="assets/Macbook-Air/macbook-air-macos.jpg" alt="" class="max-w-full h-auto">
</div>

<div class="max-w-[1100px] mt-16 mb-16 mx-auto px-6 lg:px-16">
    <p class="text-gray-500 text-xl">With tens of thousands of apps optimized for Apple silicon,<span class="text-black font-semibold"> all your favorites run lightning fast in macOS,</span> including Microsoft 365 Copilot, Adobe Creative Cloud, and Google Workspace with Gemini. And regular, free macOS software updates keep things running smoothly.</p>
</div>